section.section.section_full
  #content.first-screen
    #slider.first-screen__slider(data-images='["/img/1.jpg","/img/1.jpg","/img/1.jpg"]')
    .first-screen__content
      .first-screen__carousel.owl-carousel.owl-theme
        .first-screen__item
          .container.container_small
            h1.first-screen__title Новый проект в Севастополе
        .first-screen__item
          .container.container_small
            h2.first-screen__title Новый проект в Севастополе
            .first-screen__description Кристалл нейтрализует гравитационный пульсар. Колебание неупруго.