header.header.header_absolute(class="header_" + headerColor)
  .container.container_flex.container_jcsb.container_aic
    .header__logo
      a(href="/").logo.logo_white
        include ../logo/logo
    .header__right
      .container_flex.container_aic.container_jcsb
        .header__menu.header__menu_white
          ul
            li.active
              a(href="#") дизайн интерьеров
            li
              a(href="#") архитектура
            li 
              a(href="#") предметный дизайн
        .header__callback
          .container_flex.container_aic.container_jcsb
            a(href="#").header__phone.header__phone_white + 7 (978) 881-61-81
            .header__social
              span.header__dots.header__dots_white
                <svg width="2" height="14" viewBox="0 0 2 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="1" cy="1" r="1" transform="rotate(90 1 1)" fill="white"/>
                  <circle cx="1" cy="7" r="1" transform="rotate(90 1 7)" fill="white"/>
                  <circle cx="1" cy="13" r="1" transform="rotate(90 1 13)" fill="white"/>
                </svg>
              .header__list.header__list_white
                ul
                  li
                    a(href="#") 
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8" clip-path="url(#clip0)">
                        <path d="M15.4367 9.26104C15.9141 5.24304 15.2074 2.70637 13.9327 1.55904L13.9334 1.55837C11.8761 -0.40096 4.92805 -0.69096 2.46672 1.64637C1.36139 2.78971 0.972053 4.46771 0.929386 6.54504C0.88672 8.62304 0.836053 12.5157 4.46339 13.5717H4.46672L4.46339 15.1844C4.46339 15.1844 4.43872 15.8377 4.85605 15.969C5.33339 16.1237 5.54939 15.8204 7.03405 14.047C9.51672 14.2624 11.4234 13.769 11.6401 13.697C12.1414 13.529 14.9781 13.1537 15.4367 9.26104ZM7.27872 12.9124C7.27872 12.9124 5.70739 14.8717 5.21872 15.3804C5.05872 15.5457 4.88339 15.5304 4.88605 15.2024C4.88605 14.987 4.89805 12.525 4.89805 12.525C1.82272 11.6437 2.00405 8.32904 2.03739 6.59504C2.07072 4.86037 2.38805 3.43971 3.32405 2.48304C5.48339 0.458373 11.5747 0.91104 13.1267 2.36971C15.0241 4.05171 14.3487 8.80371 14.3527 8.96571C13.9627 12.215 11.6641 12.421 11.2414 12.5617C11.0607 12.6217 9.38405 13.053 7.27872 12.9124Z" fill="white"/>
                        <path d="M8.14758 2.86523C7.89091 2.86523 7.89091 3.26523 8.14758 3.26857C10.1389 3.2839 11.7789 4.6719 11.7969 7.2179C11.7969 7.48657 12.1902 7.48323 12.1869 7.21457H12.1862C12.1649 4.47123 10.3742 2.88057 8.14758 2.86523Z" fill="white"/>
                        <path d="M10.768 6.79536C10.762 7.06069 11.1546 7.07336 11.158 6.80469C11.1906 5.29202 10.258 4.04602 8.50528 3.91469C8.24861 3.89602 8.22194 4.29936 8.47794 4.31802C9.99795 4.43336 10.7986 5.47069 10.768 6.79536Z" fill="white"/>
                        <path d="M10.3468 8.51542C10.0175 8.32475 9.68215 8.44342 9.54349 8.63075L9.25349 9.00609C9.10615 9.19675 8.83082 9.17142 8.83082 9.17142C6.82149 8.64009 6.28416 6.53742 6.28416 6.53742C6.28416 6.53742 6.25949 6.25275 6.44349 6.10009L6.80615 5.80009C6.98749 5.65609 7.10215 5.30942 6.91749 4.96875C6.42416 4.07742 6.09282 3.77008 5.92416 3.53408C5.74682 3.31208 5.48016 3.26208 5.20282 3.41208H5.19682C4.62016 3.74942 3.98882 4.38075 4.19082 5.03075C4.53549 5.71608 5.16882 7.90075 7.18749 9.55142C8.13615 10.3321 9.63749 11.1321 10.2748 11.3168L10.2808 11.3261C10.9088 11.5354 11.5195 10.8794 11.8455 10.2854V10.2808C11.9901 9.99342 11.9421 9.72142 11.7308 9.54342C11.3562 9.17809 10.7908 8.77475 10.3468 8.51542Z" fill="white"/>
                        <path d="M8.77891 5.40376C9.41958 5.44109 9.73025 5.77576 9.76358 6.4631C9.77558 6.73176 10.1656 6.7131 10.1536 6.44443C10.1109 5.54709 9.64292 5.04709 8.80024 5.00043C8.54358 4.98509 8.51958 5.38843 8.77891 5.40376Z" fill="white"/>
                        
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="16" height="16" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
                  li 
                    a(href="#")
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3059 2.67206C11.9026 1.26709 10.0363 0.493011 8.04806 0.492188C3.95108 0.492188 0.61673 3.82645 0.615082 7.92453C0.614532 9.23456 0.956757 10.5134 1.60724 11.6406L0.552734 15.4922L4.49307 14.4586C5.5788 15.0508 6.80112 15.3629 8.04504 15.3633H8.04816C12.1447 15.3633 15.4794 12.0287 15.481 7.93048C15.4818 5.94433 14.7093 4.07693 13.3059 2.67206ZM8.04806 14.108H8.0455C6.93698 14.1075 5.84979 13.8096 4.90112 13.2469L4.67563 13.1129L2.33737 13.7263L2.96149 11.4466L2.81454 11.2128C2.19611 10.2292 1.86954 9.09228 1.87009 7.92499C1.87137 4.51877 4.64285 1.74756 8.05054 1.74756C9.70068 1.74811 11.2519 2.39154 12.4182 3.5593C13.5846 4.72705 14.2266 6.27923 14.226 7.93002C14.2246 11.3365 11.4533 14.108 8.04806 14.108ZM11.4368 9.48102C11.2511 9.388 10.338 8.93884 10.1677 8.87677C9.99759 8.81479 9.87362 8.78393 9.74994 8.96979C9.62607 9.15564 9.2702 9.57403 9.1618 9.6979C9.0534 9.82187 8.94519 9.83743 8.75943 9.74441C8.57367 9.65149 7.97528 9.45529 7.26584 8.82257C6.71377 8.33011 6.34106 7.72192 6.23267 7.53607C6.12445 7.35004 6.23175 7.25922 6.31415 7.15704C6.5152 6.90738 6.71652 6.64563 6.77841 6.52176C6.84039 6.3978 6.80936 6.28931 6.76285 6.19638C6.71652 6.10345 6.34509 5.1893 6.19037 4.81732C6.03949 4.45532 5.8865 4.50421 5.77243 4.49853C5.66421 4.49313 5.54034 4.49203 5.41647 4.49203C5.29269 4.49203 5.09146 4.53845 4.92117 4.72449C4.75098 4.91043 4.27124 5.35968 4.27124 6.27383C4.27124 7.18799 4.93674 8.0711 5.02957 8.19507C5.12241 8.31903 6.33923 10.1949 8.20224 10.9993C8.64535 11.1909 8.99124 11.305 9.26105 11.3906C9.70599 11.532 10.1107 11.512 10.4308 11.4642C10.7877 11.4109 11.5295 11.0149 11.6844 10.5811C11.8392 10.1472 11.8392 9.77545 11.7927 9.6979C11.7463 9.62045 11.6225 9.57403 11.4368 9.48102Z" fill="white"/>
                        </g>
                      </svg>
                  li 
                    a(href="#")
                      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8" clip-path="url(#clip0)">
                        <path d="M5.49335 8.85517L5.26177 12.1125C5.5931 12.1125 5.7366 11.9702 5.90869 11.7993L7.4621 10.3147L10.6809 12.6719C11.2713 13.0009 11.6872 12.8277 11.8464 12.1288L13.9593 2.2285L13.9599 2.22792C14.1471 1.35525 13.6443 1.014 13.0691 1.22809L0.649937 5.98284C-0.197646 6.31184 -0.184813 6.78434 0.505854 6.99842L3.68094 7.986L11.056 3.37125C11.4031 3.14142 11.7187 3.26859 11.4591 3.49842L5.49335 8.85517Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="14" height="14" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>
        .header__burger.header__burger_white
          span
          span
          span


  